.idea/*
# make gradle not so angry
!.idea/dynamic.xml
# keep excluded dir settings
!.idea/modules
!.idea/modules/yep.iml
.idea/modules/api/*
!.idea/modules/api/yep.api.iml
.idea/modules/fabric/*
!.idea/modules/fabric/yep.fabric.iml
.idea/modules/forge/*
!.idea/modules/forge/yep.forge.iml
.idea/modules/paper/*
!.idea/modules/paper/yep.paper.iml

.gradle
*/.gradle

*/build
*/bin
*/run

/build
/bin
